/**** common ****/

*{
    margin: 0;
    pad: 0;
    box-sizing: border-box;
}

.container{
    width: 60%;
    margin: 0 auto;
}

.box{
    width: calc(100% / 6 - 10px);
    float: left;
    margin: 10px;
    position: relative;
}

.clearfix::after{
    content:"";
    display:table;
    clear: both;
}


/**** debug *****/

.debug.container{
    height: 800px;
}

.debug .box{
    height: 350px;
    background-color: grey;
    border: 1px solid black;
    width: 250px;
}

.box:hover{
    background-color: blue;
}
